[general]
# VERIFICATION FUNCTION OPTIONS
# Print the local variables and their values for each stack trace entry.
# Warning: Printing all locals in a stack trace can easily lead to problems due to errored output.
include-verify-local-vars = true
include-all-local-vars = false

# The traceback goes no further than the test function itself.
# Set to false to inspect further into pytest framework.
traceback-stops-at-test-functions = true

# Limit to maximum "depth" stack trace entries when saving and printing exception information.
maximum-traceback-depth = 20

# Raise (true) or simply report (false) any saved warning results.
raise-warnings = true

# Continue to test call phase even if the setup fails.
# If scope wrappers are being used and a setup function fails then this flag determines if the
# test continues to the next setup function or test call phase.
continue-on-setup-failure = false
# Continue to test call phase even if the setup warns.
# This overrides the raise-warnings option above for setup functions.
continue-on-setup-warning = false

# OUTPUT REDIRECTION OPTIONS
# Switch to disable the plugin completely
# Plugin remains active but does not redirect standard output or create any log files.
no-redirect = false
# Set the root directory for saved test logs.
root-dir = test_results
# Disable the JSON logging (standard output only).
no-json = false
# All messages from the python logging module are redirected to this plugin
# at plugin log level 5. To set the python logging module minimum level set
# python-log-level to one of:
# NOTSET (use the level defined by the individual module streams), DEBUG,
# INFO, WARN, ERROR, CRITICAL.
python-log-level = NOTSET

# AVIAT SPECIFIC
# Software under test semantic versioning.
sw-major =
sw-minor =
sw-patch =
sw-branch-name =
sw-branch-number =
sw-build-number =
release-type =
# cnet2 test repo version.
test-sha =
test-tag =
test-branch =
test-submodules =
# Test rig.
test-rig-config =
# Jenkins job info.
jenkins-job-name =
jenkins-job-number = 0

[debug]
# Flags to enable additional feature based messaging for debugging.
print-saved = 0
verify = 0
phases = 0
scopes = 0
summary = 0
output-redirect = 0
mongo = 0
dev = 0
